<div class='mainContainer'>
	<div class="header">
		<h1>Notes</h1>
	</div>
	<div class="loginComponent">
		<div class="image">
			<img src="../../assets/images/note-art-auth.avif" alt="">
		</div>
		<div class="loginDiv">
			<div class="loginTitle">
				<h1>Sign in to your Notepad</h1>
			</div>
			<div class='loginForm' [formGroup]='loginForm'>
				<div class='login'>
					<!--<label for='email'>Email</label>-->
					<input id='email' type='email' formControlName='email' placeholder='Enter your email address' />
					<p class='error' style='color: red;'
						*ngIf='loginForm?.controls["email"]?.invalid && loginForm?.controls["email"]?.touched'>Email is
						required</p>
				</div>
				<div class='login'>
					<!--<label for='password'>Password</label>-->
					<input id='password' type='passwrod' formControlName='password' placeholder='Enter your password' />
					<p class='error' style='color: red;'
						*ngIf='loginForm?.controls["password"]?.invalid && loginForm?.controls["password"]?.touched'>
						Password is required</p>
				</div>
				<div class='loginBtn button'>
					<button type='button' (click)='login()' [disabled]="loginForm?.invalid">Login</button>
				</div>
				<div class='registerBtn button'>
					<a routerLink='/register'>Register</a>
				</div>
				<div class='forgot-password'>
					<a routerLink='/forgot-password'>Forgot password?</a>
				</div>
			</div>
		</div>
	</div>
</div>