<div class="main-container">
	<app-header></app-header>
	<div class="border">
		<div class="container border">
			<div class="container-fluid">
				<div class="d-flex border p-4">
					<ul class="col-4 list-group border me-2">
						<li class="list-group-item" *ngFor="let notes of notesList" (click)="onClickList(notes)" style="cursor: pointer;">{{notes.title}}</li>
						<li class="list-group-item" *ngIf="!notesList.length" style="cursor: pointer;">No list added</li>
					</ul>
					<div class="col-8">
						<div class="notes-form form-group" [formGroup]="notesForm">
							<div class="border">
								<button type="submit" class="btn btn-success" (click)="this.isEdit.value ? update() : save()">{{this.isEdit.value ? 'Update' : '+Add'}}</button>
							</div>
							<div class="mb-3">
								<input type="text" class="form-control" id="title" formControlName="title" aria-describedby="titleHelp" placeholder="Add a title">
							</div>
							<div class="mb-3">
								<textarea type="text" class="form-control" id="editor" formControlName="notes"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>