<div class='mainContainer'>
	<div class="header">
		<h1>Notes</h1>
	</div>
	<div class="forgotPasswordComponent">
		<div class="image">
			<img src="../../assets/images/note-art-auth.avif" alt="">
		</div>
		<div class="forgotPasswordDiv">
			<div class="forgotPasswordTitle">
				<h1>Sign in to your Notepad</h1>
			</div>
			<div class="forgotPasswordForm" [formGroup]="forgotForm">
				<div class="forgotPassword">
					<!--<label for="email">Email</label>-->
					<input id="email" type="email" formControlName="email"
						placeholder="Email Address" />
					<p class="error" style="color: red;"
						*ngIf="forgotForm?.controls['email']?.invalid && forgotForm?.controls['email']?.touched">Email
						is required</p>
				</div>
				<div class="forgotPassword" *ngIf="isOtpSent">
					<!--<label for="opt">Enter Otp</label>-->
					<input id="otp" type="text" formControlName="otp" placeholder="Enter otp here"
						[readOnly]="isOtpVerified" />
					<p class="error" style="color: red;"
						*ngIf="forgotForm?.controls['otp']?.invalid && forgotForm?.controls['otp']?.touched">Otp is
						required</p>
				</div>
				<div class="forgotPassword" *ngIf="isOtpVerified">
					<!--<label for="password">Password</label>-->
					<input id="password" type="passwrod" formControlName="password" placeholder="Enter your password" />
					<p class="error" style="color: red;"
						*ngIf="forgotForm?.controls['password']?.invalid && forgotForm?.controls['password']?.touched">
						Password is required</p>
				</div>
				<div class="changePasswordBtn button">
					<button type="button"
						(click)="isOtpSent && !isOtpVerified ? verifyOtp() : isOtpVerified ? changePassword() : sendOtp()"
						[disabled]="this.forgotForm?.invalid">{{ isOtpSent && !isOtpVerified ? 'Verify Otp' :
						isOtpVerified ? 'Change Password' : 'Send Otp' }}</button>
				</div>
				<div class="loginBtn button">
					<a routerLink="/login">Login</a>
				</div>
			</div>
		</div>
	</div>
</div>