<div class="register">
	<h1>Register</h1>
	<div class="registerForm" [formGroup]="registerForm">
		<div class="email">
			<label for="email">Email</label>
			<input id="email" type="email" formControlName="email" placeholder="Enter your email address" />
			<p class="error" style="color: red;" *ngIf="registerForm?.controls['email']?.invalid && registerForm?.controls['email']?.touched">Email is required</p>
		</div>
		<div class="password">
			<label for="password">Password</label>
			<input id="password" type="passwrod" formControlName="password" placeholder="Enter your password" />
			<p class="error" style="color: red;" *ngIf="registerForm?.controls['password']?.invalid && registerForm?.controls['password']?.touched">Password is required</p>
		</div>
		<div class="registerBtn">
			<button type="button" (click)="register()" [disabled]="registerForm?.invalid">Register</button>
		</div>
		<div class="loginBtn">
			<a routerLink="/login">Login</a>
		</div>
	</div>
</div>